<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Email" href="pavostudio@hotmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Weibo" target="_blank" href="https://weibo.com/pavostudio"><i class="icon fa fa-weibo" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/pavostudio"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
		<a aria-label="Steam" target="_blank" href="http://store.steampowered.com/app/616720/Live2DViewerEX/"><i class="icon fa fa-steam" aria-hidden="true"></i></a>
      </div>
	  <div class="footer">
			<p>&copy; 2018 {{site.username}}</p>
		</div>
  </div>
</div>
